.header {
    display: flex;
    padding: 30px;
}

.header h3{
    flex: 1;
    font-size: 40px;
    margin: 0;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header ul li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}